/* BASE */

@font-face {
    font-family: unify-sans;
    src: url(./fonts/UnifySans-Regular.ttf);
}

@font-face {
    font-family: unify-sans-bold;
    src: url(./fonts/UnifySans-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: unify-sans;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

/* HELPERS */

.hide {
    display: none;
}

.flex {
    display: flex;
}

.main-container {
    max-width: 900px;
    margin: auto;
}

/* components */

.recommend-container {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}

@media (min-width: 450px) {
    .recommend-container {
        padding: 16px;
    }
}

.recommend-container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.recommend-container .header .logo {
    height: 11px;
    width: 76px;
    margin: 0 16px;
    background-image: url(https://cdn.taboola.com/static/f8/f89e1763-220d-4e09-ba69-9e040548fb7a.svg);
}

@media (min-width: 450px) {
    .recommend-container .header .logo {
        margin: 0;
    }
}

.recommendations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 16px;
}

article {
    width: 100%;
    height: 300px;
}

@media (min-width: 480px) {
    article {
        height: 300px;
    }
}

article img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: 0 50%;
    margin-bottom: 8px;
}

@media (min-width: 480px) {
    article .img {
        height: 180px;
    }
}

.info {
    display: flex;
    flex-direction: column; 
    gap: 8px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    padding: 0 16px;
    font-family: unify-sans-bold;
}

@media (min-width: 450px) {
    .info {
        padding: unset;
    }
}

.info .publisher {
    color: #626262;
    font-size: 12px;
    font-family: unify-sans;
}

a:hover article .info span:nth-of-type(1) {
    text-decoration: underline;
}

.info span:nth-of-type(2)::after {
    content: '| Ad';
}

.error-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-bottom: 16px;
}

.error-container button {
    border: none;
    background-color: #154C91;
    padding: 5px 10px;
    border-radius: 5px;
    color: #FFF;
    font-family: unify-sans;
}

/* mock article */

.mock-article {
    padding: 0 16px;
}

.mock-article img {
    float: right;
}
